<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineQuiz"
        tools:targetApi="31">

        <!-- WelcomeActivity is the first screen -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Authentication Activities -->
        <activity android:name=".SignupActivity"
            android:exported="true"/> <!-- Ensure the correct class name -->

        <activity android:name=".LoginActivity"
            android:exported="true"/>

        <!-- MainActivity (Home screen after login) -->
        <activity android:name=".MainActivity"
            android:exported="true"/>

        <!-- Other App Activities -->
        <activity android:name=".QuizActivity"
            android:exported="false"/> <!-- Keep private for security -->

        <activity android:name=".AboutUsActivity"
            android:exported="false"/> <!-- No need to be accessible externally -->
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".ReviewActivity" />
        <activity android:name=".HistoryActivity" />


    </application>

</manifest>
